.hide {
    display: none;
}

.capitalize {
    text-transform: capitalize;
}

#hiddenWordTarget {
    width: 100%;
    display: block;
}

/*START fail letters*/


.failedLetters .badge {
    text-shadow: 2px 2px 2px #333;
}



.failedLetters span.badge {

    font-size: 1.2rem;
    font-weight: bold;

}